.Car {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    transition: border, box-shadow .3s;
    border: 1px solid #ccc;
    box-shadow: 0 1em 1.1em rgba(0, 0, 0, .14);
}

.Car:hover {
    border: 1px solid #aaa;
    box-shadow: 0 1em 4em 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.input {}

.input:active {
    outline: none;
}

$color: green;

.input.green {
    border: 0.2em solid $color
}

.input.red {
    border: 0.2em solid red
}

.input.bold {
    border: 0.2em solid deepskyblue;
    font-weight: bold;
}