.Car {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
    transition: border, box-shadow .3s;
}

.input {}

.input:active, .input:focus {
    outline: none;
}

$color: green;

.input.green {
    border: 0.2em solid $color
}

.input.red {
    border: 0.2em solid red
}

.input.bold {
    border: 1em solid green;
    font-weight: bold;
}